:root {
  --primary-color: #f9b84c;
  --secondary-color: #234c73;
  --secondary-color-hover: #2e5981;
}

body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2b3035;
  color: var(--primary-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.custom-navbar {
  background-color: rgb(25, 5, 110);
}

.form-error {
  color: red;
}

.optional-input {
  font-size: 0.7rem;
}

th,
td {
  width: 33%;
}

span.pledge-count.count {
  font-weight: 800;
}

span.pledge-count {
  font-size: 5rem;
}

.btn-primary {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-color: var(--secondary-color);
}

.btn-primary:hover {
  background-color: var(--secondary-color-hover);
  border-color: var(--secondary-color-hover);
  color: var(--primary-color);
}

.submit-btn {
  font-weight: 600;
}

.pledge-button {
  width: 100%;
  font-size: 2.2rem;
  text-transform: uppercase;
}

.modal-content {
  background-color: #2b3035;
}
